.MuiButtonBase-root.tablerenderer-button {
  height: 40px;
  margin: 10px 5px 0px 0px;
  min-width: 100px;
}

.MuiButtonBase-root.tablerenderer-icon-button {
  margin: 10px 5px 0px 0px;
  &:hover {
    color: #1976d2;
  }
}

.table-title-container {
  display: flex;
  justify-content: space-between;
}

.table-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
