.menubar-container {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #dee2e6 !important;
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0 20px;
  flex: 0 0 auto;

  .menubar-title {
    color: #000;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    text-decoration: none;

    svg {
      margin-right: 5px;
    }
  }

  .menubar-icon {
    height: 24px;
    vertical-align: middle;
  }

  .menubar-item {
    color: #7f7f7f;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin: 0 8px;
    text-decoration: none;
  }

  .menubar-username {
    margin-left: 15px;
  }

  .menubar-item-link {
    @extend .menubar-item;
    &:hover {
      color: #007bff;
    }
  }

  .menubar-container-left,
  .menubar-container-right {
    align-items: center;
    display: flex;
  }
}
